language: python
python:
  - "2.7"
install:
  - sudo wget http://netcologne.dl.sourceforge.net/project/d-apt/files/d-apt.list -O /etc/apt/sources.list.d/d-apt.list 
  - sudo apt-get update
  - sudo apt-get -y --allow-unauthenticated install --reinstall d-apt-keyring
  - sudo apt-get update
  - sudo apt-get install gcc-multilib dub dmd-bin
script: ./runtests
